* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.somos-nos {
    width: 90vw;
    display: flex;
    flex-direction: row;
    padding: 4vw;
}

.titulo-somos-nos {
    align-self: center;
    color: #71c4eb;
    font-size: 2.5vw;
    margin-left: 4vw;
    line-height: 4vw;
    width: 30vw;
}

.descricao-somos-nos {
    align-self: center;
    width: 60vw;
    margin: 2vw 6vw 0 4vw;
    margin-right: 5vw;
    color: rgb(110, 102, 102);
    font-size: 1.5vw;
    line-height: 3vw;
}

.secao-footer {
    width: 100vw;
    background-color: #3185ac;
    display: flex;   
}

.secao-footer > ul {
    width: 100vw;
    color: white;
    list-style-type: none;
    font-size: 1.25vw;
    margin: 0 3vw;
    margin-bottom: 2vw;
    padding: 1vw;
}

.secao-footer li {
    margin-top: 1.8vw;
}

.item-lista1 a {
    text-decoration: none;
    color: white;
}

.lista-redes-sociais {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.lista-redes-sociais li {
    margin: 0 1vw 0 0;
}


.tema-lista {
    color: #a1ddf8;
}

.lista-redes-sociais img {
    width: 2em;
}

.lista-redes-sociais ul {
    display: flex;
}

.lista-apps img {
    width: 100%;
}

.logo {
    display: flex;
   
}

.logo img {
    width: 110%;
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0a5a80;
    height: 10vh;
    width: 100vw;
    
}

footer p {
    color: #a1ddf8;
    font-size: 1vw;
    margin-left: 3vw;
}

footer ul {
    display: flex;
    color: white;
    list-style-type: none;
    font-size: 1vw;
}

footer li {
    margin-left: 2vw;
}